<div class="row">
    <div class="card">
        <div class="card-image empty">
            <span class="card-title">Tasks</span>
        </div>
        <div class="card-content">
            <ul class="collection with-header">
                <% if @tasks.length > 0 %>
                    <% @tasks.each do |task| %>
                        <%= render "components/task-item", task: task %>
                    <% end %>
                <% else %>
                    <li class="collection-item">
                        You have no tasks assigned to you at the moment
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
</div>
