<% if conversation.messages.length > 0 %>
  <ul class="collection">
  <% conversation.messages.each do |message| %>
    <li class="collection-item">
      <p>
        <strong>Person:</strong>
        <%= message.person.full_name %>
      </p>
      <p>
        <strong>Date:</strong>
        <%= message.created_at %>
      </p>
      <p>
        <%= message.message %>
      </p>
    </li>
  <% end %>
  <% if current_person != nil %>
    <li class="collection-item">
      <%= render 'message_form', message: conversation.messages.new %>
    </li>
  <% end %>
  </ul>
<% else %>
  <div class="col s12">
    Nothing has been said.
  </div>
<% end %>
