<ul class="collection with-header">
  <li class="collection-header">
    Tasks
  </li>
  <% if tasks.length > 0 %>
    <% tasks.each do |task| %>
      <%= render 'components/task-item', task: task %>
    <% end %>
  <% end %>
  <li class="collection-item full-width">
    <%= link_to "Add a Task", new_task_path(project_id: project.id) %>
  </li>
</ul>
