<div class="card">
    <div class="card-content">
        <span class="card-title">Interested People</span>
        <% if interests.length > 0 %>
            <ul class="collection">
                <% interests.each do |interest| %>
                    <li class="collection-item full-width">
                        <%= link_to interest.person.full_name, interest %>
                        <%= form_for interest, url: assign_interest_path(interest), html: { class: "flat" }, method: :post do |form| %>
                            <button class="btn-floating horizontal waves-effect waves-light red" type="submit">
                                <i class="material-icons">add</i>
                            </button>
                        <% end %>
                    </li>
                <% end %>
            </ul>
        <% else %>
            <p>No one has expressed interest in this role, yet.</p>
        <% end %>
    </div>
</div>
