<div class="card">
    <div class="card-content">
        <span class="card-title">Volunteers</span>
        <ul class="collection with-header">
          <li class="collection-header">
            <%= role.people.length %>
            <% if role.number_of_people != nil %>
                out of <%= role.number_of_people%>
            <% end %> people assigned
          </li>
          <% if person_roles.length > 0 %>
            <% person_roles.each do |person_role| %>
              <li class="collection-item full-width">
                <span><%= person_role.person.full_name %></span>
                <%= button_to "Unassign", person_role, method: :delete, class: "btn" %>
              </li>
            <% end %>
          <% end %>
        </ul>
    </div>
</div>

