<div class="row">
    <div class="card">
        <div class="card-image empty">
            <span class="card-title">Volunteer Roles</span>
        </div>
        <div class="card-content">
            <table class="centered">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Project Title</th>
                        <th>Person</th>
                    </tr>
                </thead>
                <tbody>
                    <% @roles.each do |role| %>
                        <tr onclick="">
                            <td><%= role.title %></td>
                            <td><%= role.project.title %></td>
                            <td>
                                <%= role.try(:person).try(:full_name) || "No One" %>
                            </td>
                            <td>
                                <%= link_to 'Show', role_path(role), :class => "btn" %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
